
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 64px;
}
.nav{
  width: 354px;
  display: flex;
  gap: 32px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-color: #EBEBEB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login_btn{
  background-color: #4F46E5;
  width: 159px;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.login_btn>img{
  width: 21px;
  height: 20px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
