.header{
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 64px;
}
.nav{
  width: 640px;
  display: flex;
  gap: 45px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav a{
  transition: color 1s, border-bottom 1s;
}
.nav a:hover {
  color: rgb(79, 70, 229, 1);
  border-bottom: 1px solid rgb(79, 70, 229, 1);
}
#root {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: #EBEBEB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login_btn{
  background-color: #4F46E5;
  width: 120px;
  height: 52px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.login_btn>img{
  width: 21px;
  height: 20px;
}
.pages-subtitles{
  width: auto;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #1a1a1ac2;
}
.hero{
  gap: 132px;
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
    /* font-family: segoe UI-MONOSPACE; */
}
.hero-info{
  gap: 40px;
  width: 742px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-title {
  color: #1C1C1C;
  line-height: 63.84px;
  font-size: 40px;
  font-weight: 700;
  height: 64px;
  width: auto;
}
.hero-subtitle{
  height: 96px;
  width: 628px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(28,28,28, 0.6);
}
.view-more{
  display: flex;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: rgb(79,70,229,1);
  height: 35px;
  width: 310px;
  align-items: center;
  justify-content: center;
}
.hero-img{
  width: 310px;
  height: 300px;
  padding: 10px
}
.hero-img>img{
  height: 270px;
  width: 270px;
}
.container-carousel{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.text-carousel{
  color: #5d5d5d;
  font-size: 27px;
}
.carousel{
  width: 75%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.carousel>button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  background-color: black;
}
.carousel-container {
  height: 90vh;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.carousel-slide{
  position: relative;
  flex: 0 0 35%; 
  overflow: hidden; 
}
.carousel-slide img {
  object-fit: cover;
  width: 225px;
  height: 235px;
}
.text-city{
  font-weight: 500;
  font-size: 16px;
  display: flex;
  height: 12vh;
  width: 225px;
  opacity: 0.5;
  background-color: black;
  color: rgb(181, 193, 253);
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.footer {
  width: auto;
  background-color: #1C1C1C;
  height: 30vh;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.column1, .column2, .column3 {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
}
.span1{
  font-size: 22px;
  padding: 10px;
}
.span2{
  font-weight: 700;
  font-size: 24px;
  padding: 0px 0px 5px 5px;
  display: flex;
}
.column2{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.column2 a{
  width: 80px;
  font-size: 15px;
  padding: 5px;
  color: #fff;
  transition: color 1s, border-bottom 1s;
}
.column2 a:hover {
    color: rgb(79, 70, 229, 1);
    border-bottom: 1px solid rgb(79, 70, 229, 1);
}
.column-title{
  padding: 10px;
  font-size: 20px;
}
.column3{
  justify-content: space-between;
}
.social-icons {
  margin-bottom: 10px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-icon{
  width: 40px;
  height: 30px;
}
.social-icon>img{
  width: 25px;
  height: 25px;
}
.footer-links a {
  display: block;
  color: #fff;
  margin-bottom: 5px;
  text-decoration: none;
}
.search_section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.search{
  font-size: 13px;
  color: darkgrey;
  outline: none;
  padding: 8px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid grey;
}
.btn_search{
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  background-color: #4F46E5;
  border-radius: 12px;
  outline: none;
}
.msj_not_found{
  color: #4F46E5;
  font-size: 22px;
  height: 60vh;
  margin-top: 50px;
}
.container-cards {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.city-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(151, 151, 151);
  padding: 10px;
  border-radius: 20px;
}
.city_detail {
  color:rgb(28,28,28, 0.6);
  gap: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-card-image {
  margin-top: 15px;
  border-radius: 10px;
  width: 95%;
  height: 50vh;
}
.city-card-title {
  font-size: 24px;
  margin: 10px 0;
}
.city-card-description {
  width: 100%;
}
.city-card-button {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4F46E5;
  flex-direction: column;
}
.title-back-btn{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.back-city-btn{
  color:rgb(151, 151, 151) ;
  border-bottom: 1px solid  rgb(151, 151, 151);
  font-size: 15px;
  width: 11%;
  transition: color 1s, border-bottom 1s;
}
.back-city-btn:hover {
  color: rgb(79, 70, 229, 1);
  border-bottom: 1px solid rgb(79, 70, 229, 1);
}

.container-itinerary{
  display: flex;
  height: 25vh;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
.itineraries{
  background-color: #aeb3bd;
  padding: 10px;
  border-radius: 20px;
  margin: 25px 40px;
}
.itinerarie-title{
  font-size: 20px;
  color: #555555;
}
.itinerarie-info{
  display: flex;
  color:  #555555;
  justify-content: space-evenly;
  align-items: center;
}
.price-duration{
  width: 20%;
}
.user{
  display: flex;
  width: 25%;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}
.user-foto{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.likes_hashtags{
  width: 20%;
}
.sorry{
  color:#555555;
  font-size: 22px;
}

.activities-panel{
  margin: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.activities_btn{
  font-size: 12px;
  font-weight: 100;
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(94, 22, 22, 0.9),rgb(105, 66, 211));
}
.activities{
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #555555;
  height: 20vh;
  width: 100%;
  background-color: #aeb3bd;
  margin: 5px;
  border-radius: 20px;
}

/* sign up*/
.container{
  flex-direction: column;
  display: flex;
}
.input-fields-signup{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.overlay-signup {
  background: -webkit-linear-gradient(#4715fd, #111011);
  background: linear-gradient(#4400ff, #000000);
  opacity: 0.85;
  filter: alpha(opacity=85);
  height: 765px;
  position: absolute;
  width: 530px;
  z-index: 1;
  border-radius: 10px;
}

/* Sign in */

.input-line {
  border: none;
}
button:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}
::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}
.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.ghost-round {
  margin-top: 15px;
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 19px;
  font-weight: 300;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.input-line {
  background: none;
  margin-bottom: 25px;
  line-height: 2.4em;
  color: #bfbfbf;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.container-buttons{
  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.full-width {
  width: 100%;
}
.media-width{
  display: flex;
  justify-content: center;
  align-items: center;
  width:80%;
}
.input-fields {
  margin-top: 25px;
}
.container {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px 0px;
  background: #EBEBEB;
}
.content {
  padding: 40px 25px;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
  justify-content: space-around;
}
.welcome {
  margin: 45px 0px;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
}
.subtitle {
  text-align: center;
  line-height: 1.6;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}
.window {
  border-radius: 10px;
  z-index: 100;
  color: #fff;
  position: relative;
  display: flex;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 560px;
  width: 360px;
  background: #fff;
}
.overlay {
  background: -webkit-linear-gradient(#4715fd, #111011);
  background: linear-gradient(#4400ff, #000000);
  opacity: 0.85;
  filter: alpha(opacity=85);
  height: 560px;
  position: absolute;
  width: 360px;
  z-index: 1;
  border-radius: 10px;
}

/* User logged */

.signUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  width: 100%;
  gap: 10px;
  justify-content: flex-start;
}
.user-name-logged{
  font-size: 20px;
}
.user-info{
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.user-foto-logged{
 width: 70px;
 height: 70px;
 border-radius: 50%;
}
.btn_logout{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .header{
    padding: 1em;
    flex-direction: column;
    height: 355px;
  }
  .nav{
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: auto;
  }
  .user-info{
    flex-direction: column;
    gap: 10px;
  }
  .hero{
    width: auto;
    gap: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-info{
    gap: 20px;
    width: auto;
    align-items: center;
  }
  .hero-title{
    font-size: 25px;
  }
  .hero-subtitle{
    height: 115px;
    width: auto;
    font-size: 20px;
  }
  .view-more{
    padding: unset;
    height: 55px;
    width: 160px;
  }
  .hero-img{
    display: none;
  }
  .text-carousel{
    font-size: 22px;
  }
  .carousel{
    width: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  .carousel>button{
    display: none;
  }
  .carousel-container {
    height: auto;
  }
  .carousel-slide {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .footer{
    gap: 5px;
    height: auto;    
    flex-direction: column-reverse;
  }
  .column3{
    gap: 5px;
    width: auto;
  }
  .social-icons{
    gap: unset;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .column2{
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
  }
  .column1{
    gap: 10px;
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  .back-city-btn {
    width: 15%;
  }
}