 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
}
h1 {
  height: 43px;
  width: 183px;
  /* font-family: segoe UI-MONOSPACE; */
  font-weight: 700;
  color: #1C1C1C;
  line-height: 1.1;
}
a {
  font-weight: 700;
  line-height: 31.92px;
  font-size: 24px;
  height: 32px;
  width: 69px;
  font-weight: 500;
  color: #1C1C1C;
  text-decoration: inherit;
}
button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 16px 32px;
  width: 64px;
  height: 32px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  line-height: 31.92px;
  transition: border-color 0.25s;
  /* font-family: segoe UI-MONOSPACE; */
}
button:hover {
  border-color: #a5a9f0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
