 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #5f6368;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 1075px;
}
h1 {
  width: 183px;
  font-weight: 700;
  color: #d195a9;
  line-height: 1.1;
}
a {
  font-weight: 700;
  line-height: 31.92px;
  font-size: 20px;
  height: 32px;
  font-weight: 500;
  color: rgb(28,28,28, 0.6);
  text-decoration: inherit;
}
button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 16px 32px;
  width: 64px;
  height: 32px;
  color: rgb(28,28,28, 0.6);
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  line-height: 31.92px;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
